# Visual Studio 관련 파일
.vs/
*.vcxproj.user
*.vcxproj.filters
*.suo
*.ncb
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.ipch

# 빌드 및 디버그 산출물
x64/Debug/
Debug/
Release/
*.exe
*.dll
*.lib
*.exp
*.obj
*.o
*.out
# OS-specific files
Thumbs.db
.DS_Store

# 기타 임시 파일
*.tmp
*.cache
*.bak
*.swp

*.sh